.logoGreen {
  color: #41d15b;
}

.logoBrown {
  color: #9e6421;
}

.ah-leaf {
  transform: rotate(333deg);
}

.ah-check {
  vertical-align: top;
  margin-top: -4px;
  color: #319e45;
}

.ah-logoCopy {
  margin-left: 1px;
  margin-top: 6px;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
