<div (click)="onClickContentTagToggleEdit($event)" [attr.data-tag-id]="contentTag.id">
  <div *ngIf="!edit">
    <span>{{contentTag.pieceId}} - {{contentTag.id}} - {{contentTag.name}} </span>
    <span class="mat-button-wrapper">
            <mat-icon (click)="onClickRemoveContentTag($event)" aria-hidden="false" aria-label="remove button" class="minus-box-icon removeButtonIcon">remove_circle_outline</mat-icon>
    </span>
  </div>
  <div *ngIf="edit">

    <div class="form-group">
      <label for="name"></label>
      <input type="text" class="form-control" id="name"
             [(ngModel)]="contentTag.name" name="name"
             (keyup.enter)="save()"
             (click)="onClickName($event)"/>
    </div>
  </div>
</div>
