<div class="boardContent">
  <div class="boardWrapper wrapper" dragula="COLUMNS" [(dragulaModel)]="lanesAndPieces">
    <div *ngFor="let group of lanesAndPieces" class="groupContainer">
      <div class="group-handle" [attr.data-lane-id] ="group.id">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput value="{{group.name}}">
          </mat-form-field>
        </form>

        <button class="removeGroup float-right" mat-icon-button aria-label="Remove this group" (click)="removeGroup($event)">
          <mat-icon [attr.data-name]="group.name">remove_circle_outline</mat-icon>
        </button>

        <mat-list role="list" class="itemContainer" dragula="ITEMS" [(dragulaModel)]="group.boardPieces" [attr.data-lane-id] ="group.id">
          <mat-list-item *ngFor="let item of group.boardPieces" class="boardItem">

            <mat-card>

              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput value="{{item.name}}">
                </mat-form-field>
              </form>


              <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
              <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
              <mat-card-content>
                Lár et ataqu ë valarauko. Ruc riel línë torma pé, mel vaxë ondo vá, lin lú yelma antorya. Ve san hesta ananta onótima, soica tanwëataquë ela sú. Manwa liptë lá tuv. Tellaurë simpetar an rin, var fánë yelma goneheca nu.
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>

            </mat-card>

          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <span>
    <button mat-icon-button aria-label="Add another group" class="add-lane-button" (click)="createGroup()">
      <mat-icon>control_point</mat-icon>
    </button>
  </span>
</div>
