<div
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="ObsLaneList | async"
  (cdkDropListDropped)="onLaneDrop($event)"
>
  <div
    cdkDropListGroup
    class="example-container"
    *ngFor="let lane of ObsLaneList | async"
    cdkDrag
    [cdkDragData]="lane.laneName"
  >
    <h2>{{ lane.laneName }}</h2>
    <div
      cdkDropList
      class="example-list"
      id="{{ lane.id }}"
      [cdkDropListData]="getPiecesForLane(lane.laneName)"
      (cdkDropListDropped)="onItemDrop($event)"
      [cdkDropListConnectedTo]="getConnectedList()"
    >
      <div
        class="example-box"
        *ngFor="let piece of getPiecesForLane(lane.laneName) | async"
        [id]="piece.id"
        cdkDrag
        [cdkDragData]="piece"
      >
        {{ piece.name }}
      </div>
    </div>
  </div>
</div>
