<mat-card>
  <mat-card-content *ngIf="piece" [formGroup]="DataForm">
    <div class="row">
      <div class="col-12">

        <form class="example-form" style="display:grid">
          <mat-form-field class="column-half-width">
            <input matInput value="{{piece.name}}" />
          </mat-form-field>

          <mat-form-field class="column-full-width">
            <input matInput type="textArea" value="{{piece.description}}" />
          </mat-form-field>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle (closed)="setStep(-1)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon aria-hidden="false" aria-label="link icon">link</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Related Pieces
                <button mat-raised-button (click)="AddContentTag($event)">
                  <mat-icon aria-hidden="false" aria-label="add button" class="add-box-icon">add_box</mat-icon>
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!--  take contentTags  -->
            <div *ngFor="let tag of piece.contentTags">
                <app-content-tag [contentTag]="tag" (valueChange)="saveContentTag(tag)"></app-content-tag>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-6">
        <app-content-image [imageInput]="piece.images" (imageAdded)="addImage($event)"></app-content-image>
      </div>
    </div>

  </mat-card-content>
</mat-card>
