<mat-card>
  <mat-card-content *ngIf="piece" [formGroup]="DataForm">
    <div class="row">
      <div class="col-12">

        <form class="example-form" style="display:grid">
          <mat-form-field class="column-half-width">
            <input matInput value="{{piece.name}}" />
          </mat-form-field>

          <mat-form-field class="column-full-width">
            <input matInput type="textArea" value="{{piece.description}}" />
          </mat-form-field>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
            <app-content-related [contentTags]="piece.relatedPieces" [pieceId]="piece.id" [projectId]="piece.projectId" (valueChange)="saveContentTag(tag)"></app-content-related>          
        <div class="row">
          <div class="col-12">
            <app-content-file [fileInput]="piece.files" (fileAdded)="addFile($event)"></app-content-file>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <app-content-tag [contentTags]="piece.contentTags" [pieceId]="piece.id" [projectId]="piece.projectId" (valueChange)="saveContentTag(tag)"></app-content-tag>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-content-image [imageInput]="piece.images" (imageAdded)="addImage($event)"></app-content-image>
          </div>
        </div>
      </div>

    </div>

  </mat-card-content>
</mat-card>
